@tailwind base;
@tailwind components;
@tailwind utilities;


.card-image {
    position: relative;
    width: 100%;
}
    .card-image:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .card-image:before {
        content: '•••';
        font-size: 24px;
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: rgba(white, 0.1);
        z-index: 0;
    }
    .card-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        opacity: 0;
    }
    .card-image:active{
            animation: imageFadeIn 0.5s ease-in forwards;
            animation-delay: 0.5s;
    }
    @keyframes imageFadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
